.video-cover-wrapper,
.gg-page-cover-wrapper {
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.video-cover-wrapper {
  height: 100%;
}

.gg-page-cover-wrapper {
  height: 150px;
  position: relative;
}

.video-cover-img,
.gg-page-cover-img {
  background-position: 50% 50%; 
  background-size: cover;
  height: 100%;
  width: 100%;
}

.gg-page-cover-img {
  background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_overview-sm.png');

  @include media($default-desktop) {
    background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_overview-lg.png');
  }
}

.video-cover-img-overview,
.video-wrapper-overview {
  background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_overview-sm.png');

  @include media($default-desktop) {
    background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_overview-lg.png');
  }  
}

.video-wrapper-edu,
.video-cover-img-edu {
  background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_edu-sm.png');
  
  @include media($default-desktop) {
    background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_edu-lg.png');
  } 
}

.video-wrapper-guns,
.video-cover-img-guns {
  background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_guns-sm.png');
  
  @include media($default-desktop) {
    background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_guns-lg.png');
  } 
}

.video-wrapper-life,
.video-cover-img-life {
  background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_life-sm.png');
  
  @include media($default-desktop) {
    background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_life-lg.png');
  } 
}

.video-wrapper-marriage,
.video-cover-img-marriage {
  background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_marriage-sm.png');
  
  @include media($default-desktop) {
    background-image: url('{{ PATH_PREFIX }}assets/images/TT-god_marriage-lg.png');
  } 
}

.video-cover-logo {
  left: 0;
  margin: 0 auto;
  max-width: 50%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 20%;
}

.gg-page-cover-title {
  left: 0;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0%;
  width: 100%;
}

.video-cover-btn {
  left: 0;
  margin: 2em auto;
  right: 0;
}

.video-wrapper {
  background-color: $gg-black;
  background-size: cover;
  position: relative;
  text-align: center;
  visibility: hidden;
}

.video-frame {
  padding: 5%;
}
