.video-cover-wrapper,
.gg-page-cover-wrapper {
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.video-cover-wrapper {
  height: 100%;
}

.gg-page-cover-wrapper {
  height: 187px;
  position: relative;
}

.video-cover-img,
.gg-page-cover-img {
  background-position: 50% 50%; 
  background-size: cover;
  height: 100%;
  width: 100%;
}

.video-cover-img {
  position: fixed;
}

.gg-page-cover-img {
  background-image: url('{{ PATH_PREFIX }}assets/images/overview-sm.jpg');

  @include media($default-desktop) {
    background-image: url('{{ PATH_PREFIX }}assets/images/overview-lg.jpg');
  }
}

@each $vid in $vid-list {
  .video-cover-img-#{$vid},
  .video-wrapper-#{$vid} {
    background-image: url('{{ PATH_PREFIX }}assets/images/#{$vid}-sm.jpg');

    @include media($default-desktop) {
      background-image: url('{{ PATH_PREFIX }}assets/images/#{$vid}-lg.jpg');
    }  
  }
}

.video-cover-logo {
  left: 0;
  margin: 0 auto;
  max-width: 85%;
  padding: 0 2em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 20%;

  @include media($default-desktop) {
    max-width: 60%;
  }

  h1 {
    color: $white;
    font-family: $montserrat;
    font-size: 2em;
    margin: .5em 0;
    text-transform: uppercase;

    @include media($default-desktop) {
      font-size: 3.5em;
    }

    &.tagline {
      font-size: 1.4em;
      line-height: 1.4;
      text-transform: none;
    }
  }
}

.gg-page-cover-title {
  left: 0;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0%;
  width: 100%;
}

.video-cover-btn {
  left: 0;
  margin: 2em auto;
  right: 0;
}

.video-wrapper {
  background-color: $gg-black;
  position: relative;
  text-align: center;
  visibility: hidden;
}

.video-frame {
  padding: 5%;
}
