.video-cover-wrapper,
.gg-page-cover-wrapper {
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.video-cover-wrapper {
  height: 100%;
}

.gg-page-cover-wrapper {
  height: 150px;
  position: relative;
}

.video-cover-img,
.gg-page-cover-img {
  background-position: 50% 50%; 
  background-size: cover;
  height: 100%;
  width: 100%;
}

.gg-page-cover-img {
  background-image: url('{{ PATH_PREFIX }}assets/images/overview-sm.png');

  @include media($default-desktop) {
    background-image: url('{{ PATH_PREFIX }}assets/images/overview-lg.png');
  }
}

@each $vid in $vid-list {
  .video-cover-img-#{$vid},
  .video-wrapper-#{$vid} {
    background-image: url('{{ PATH_PREFIX }}assets/images/#{$vid}-sm.png');

    @include media($default-desktop) {
      background-image: url('{{ PATH_PREFIX }}assets/images/#{$vid}-lg.png');
    }  
  }
}

.video-cover-logo {
  left: 0;
  margin: 0 auto;
  max-width: 50%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 20%;
}

.gg-page-cover-title {
  left: 0;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0%;
  width: 100%;
}

.video-cover-btn {
  left: 0;
  margin: 2em auto;
  right: 0;
}

.video-wrapper {
  background-color: $gg-black;
  background-size: cover;
  position: relative;
  text-align: center;
  visibility: hidden;
}

.video-frame {
  padding: 5%;
}
