$list: naishtat hegar stickland krause nevarez schaefer campbell miller burton paxton zedler watson perry patrick simpson button lucioJr white hughes israel turner lucioIII leach;

@each $lawmaker in $list {
  .lawmaker-layer-#{$lawmaker} {
    @extend %bg-cover;
    background-image: url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm-bw.jpg');
    height: 100%;
    padding: 4.5em 0;
    text-align: center;

    @include media($default-desktop) {
      background-image: url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sq-bw.jpg');
    }
  }

  .lawmaker-list a {
    &:hover {
      .lawmaker-layer-#{$lawmaker} {
        background-image: url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm-red.jpg');
        
        @include media($default-desktop) {
          background-image: url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sq-red.jpg');
        }
      }
    }
  }
}
    
