$list: naishtat hegar stickland krause nevarez schaefer campbell miller burton paxton zedler watson perry patrick simpson button lucioJr white hughes israel turner lucioIII leach;

@each $lawmaker in $list {

  .lawmaker-list a {

    .lawmaker-layer-#{$lawmaker} {
      background-image: url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
      background-position: 30% center;
      background-size: cover;
      height: 100%;
      padding: 2.5em 0 4.5em;
      text-align: center;

      @include media($lawmaker-bp-sm) {
        background-image: url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-lg.jpg');
        background-position: 50% 50%;
        background-size: cover;
        padding: 5em 0;
      }

      @include media($lawmaker-bp-md) {
        background-image: url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
        padding: 2.75em 0;
      }

      @include media($lawmaker-bp-lg) {
        background-image: url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
        padding: 3.5em 0;
      }
    }

    &:hover {
      @if #{$lawmaker} == 'israel'
      or #{$lawmaker} == 'nevarez' 
      or #{$lawmaker} == 'watson' {
        .lawmaker-layer-#{$lawmaker} {
          background: 
          linear-gradient(
            transparentize($gg-black, .85), 
            transparentize($gg-black, .85)
          ),
          url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
          background-position: 75% center;
          background-size: cover;

          @include media($lawmaker-bp-sm) {
            background: 
            linear-gradient(
              rgba($gg-black, .1), 
              rgba($gg-black, .1)
            ),
            url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-lg.jpg');
            background-position: 75% 50%;
            background-size: cover;
          }

          @include media($lawmaker-bp-md) {
            background: 
            linear-gradient(
              transparentize($gg-black, .85), 
              transparentize($gg-black, .85)
            ),
            url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
            background-position: 75% 50%;
            background-size: cover;
          }

          @include media($lawmaker-bp-lg) {
            background: 
            linear-gradient(
              transparentize($gg-black, .85), 
              transparentize($gg-black, .85)
            ),
            url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
            background-position: 75% 50%;
            background-size: cover;        
          }
        }
      } 
      @else if #{$lawmaker} == 'campbell'
      or #{$lawmaker} == 'lucioJr' 
      or #{$lawmaker} == 'schaefer'
      or #{$lawmaker} == 'stickland' 
      or #{$lawmaker} == 'white' {
        .lawmaker-layer-#{$lawmaker} {
          background: 
          linear-gradient(
            transparentize($gg-black, .85), 
            transparentize($gg-black, .85)
          ),
          url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
          background-position: 0% center;
          background-size: cover;

          @include media($lawmaker-bp-sm) {
            background: 
            linear-gradient(
              rgba($gg-black, .1), 
              rgba($gg-black, .1)
            ),
            url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-lg.jpg');
            background-position: 25% 50%;
            background-size: cover;
          }

          @include media($lawmaker-bp-md) {
            background: 
            linear-gradient(
              transparentize($gg-black, .85), 
              transparentize($gg-black, .85)
            ),
            url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
            background-position: 25% 50%;
            background-size: cover;
          }

          @include media($lawmaker-bp-lg) {
            background: 
            linear-gradient(
              transparentize($gg-black, .85), 
              transparentize($gg-black, .85)
            ),
            url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
            background-position: 25% 50%;
            background-size: cover;        
          }
        }
      }
      @else {
        .lawmaker-layer-#{$lawmaker} {
          background: 
          linear-gradient(
            transparentize($gg-black, .85), 
            transparentize($gg-black, .85)
          ),
          url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
          background-position: 30% center;
          background-size: cover;

          @include media($lawmaker-bp-sm) {
            background: 
            linear-gradient(
              rgba($gg-black, .1), 
              rgba($gg-black, .1)
            ),
            url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-lg.jpg');
            background-position: 50% 50%;
            background-size: cover;
          }

          @include media($lawmaker-bp-md) {
            background: 
            linear-gradient(
              transparentize($gg-black, .85), 
              transparentize($gg-black, .85)
            ),
            url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
            background-position: 50% 50%;
            background-size: cover;
          }

          @include media($lawmaker-bp-lg) {
            background: 
            linear-gradient(
              transparentize($gg-black, .85), 
              transparentize($gg-black, .85)
            ),
            url('{{ PATH_PREFIX }}assets/images/lawmakers/#{$lawmaker}-sm.jpg');
            background-position: 50% 50%;
            background-size: cover;        
          }
        }

      }
    }
  }
}

.lawmaker-list a {

  .lawmaker-layer-israel,
  .lawmaker-layer-nevarez,
  .lawmaker-layer-watson {
    background-position: 75% center;
    background-size: cover;

    @include media($lawmaker-bp-sm) {
      background-position: 75% 50%;
      background-size: cover;
    }

    @include media($lawmaker-bp-md) {
      background-position: 75% 50%;
    }

    @include media($lawmaker-bp-lg) {
      background-position: 75% 50%;
    }
  }

  .lawmaker-layer-campbell,
  .lawmaker-layer-lucioJr,
  .lawmaker-layer-stickland,
  .lawmaker-layer-schaefer,
  .lawmaker-layer-white {
    background-position: 0% center;
    background-size: cover;

    @include media($lawmaker-bp-sm) {
      background-position: 25% 50%;
      background-size: cover;
    }

    @include media($lawmaker-bp-md) {
      background-position: 25% 50%;
    }

    @include media($lawmaker-bp-lg) {
      background-position: 25% 50%;
    }
  }
}

