.lawmakers-related {
  display: none;
}

.lawmaker-list {
  color: $white;
  margin: 0 0 2em;


  a {
    background-color: $gg-black;
    color: $white;
    float: left;
    margin: 0 0 1em;
    min-height: 140px;
    position: relative;
    width: 100%;

    .lawmaker-hover-layer {
      span {
        color: transparentize($white, 1);
        font-size: 30px;
      }
    }

    &:hover {
      background-color: $gg-red;
      color: $white;
      text-decoration: none;

      .lawmaker-hover-layer { 
        span { 
          color: $white; 
        }
      }
    }

    &:last-child {
      margin: 0 0 4em;
    }

    @include media($lawmaker-bp-sm) {
       min-height: 160px;
    }

  }

}

.lawmaker-list {

  a {
    margin: 0 3% 1em 0;

    @include media($lawmaker-bp-md) {
      @include omega(3n);
      min-height: 120px;
      width: 31.33%;
    }

    @include media($lawmaker-bp-lg) {
      @include omega(3n);
      min-height: 160px;
      width: 31.33%;
    }
  }

  &.lawmaker-list-wide {
    a {
      background-color: $gg-gray;
      color: $gg-black;
      width: 100%;

      &:hover {
        background-color: $gg-gray;
        color: $gg-black;

        .lawmaker-info {
          background-color: $gg-red;
        }

        .lawmaker-mobile-play {
          color: $white;
        }
      } 
    }

    .lawmaker-hover-layer {
      display: block;
      min-height: 120px;

      .icon-TT-god_play {
        display: none;
      }

      @include media($lawmaker-bp-md) {
        @include omega(3n);
        float: right;
        min-height: 180px;
        width: 40%;
        vertical-align: top;

        .icon-TT-god_play {
          display: block;
        }
      }

      @include media($lawmaker-bp-lg) {
        @include omega(3n);
        float: right;
        min-height: 180px;
        width: 40%;

        .icon-TT-god_play {
          display: block;
        }
      }
    }

    .lawmaker-quote {
      color: $gg-black;
      display: block;
      margin: 0 0 1em;
      width: 100%;

      p {
        font-size: 1.2em;
        font-family: $bookmania;
        margin: 0;
        text-transform: none;
      }

      @include media($lawmaker-bp-md) {
        display: inline-block;
        margin: 0 0 1em;
      }

      @include media($lawmaker-bp-lg) {
        display: inline-block;
        margin: 0 0 1em;
      }
    }

    .lawmaker-info-wide {
      @include clearfix;
      background-color: $gg-gray;
      position: relative;
    }

    .lawmaker-info {
      @include clearfix;

      @include media($lawmaker-bp-md) {
        padding: 1em 1.5em 0;
        width: 60%;
      }

      @include media($lawmaker-bp-lg) {
        padding: 1em 1.5em 0;
        width: 60%;
      }
    }

    .lawmaker-mobile-play {
      color: $gg-red;
      float: right;
      margin: 0 1em 0 0;

      p {
        display: inline-block;
        text-transform: uppercase;
        margin: 0 .5em 0 0;
        vertical-align: middle;
      }

      span {
        display: inline-block;
        font-size: 1.5em;
      }

      @include media($lawmaker-bp-md) {
        display: none;
      }

      @include media($lawmaker-bp-lg) {
        display: none;
      }
    }
  }
}

.lawmaker-info {
  bottom: 0;
  padding: .75em;
  position: absolute;
  z-index: 2;

  p {
    @extend %font-xs;
    margin: 0;

    &.lawmaker-faith {
      @extend %font-xs;
      font-family: $montserrat;
      text-transform: uppercase;
    }
  }

  @include media($lawmaker-bp-md) {
    position: relative;
  }

  @include media($lawmaker-bp-lg) {
    position: relative;
  }
}



h2.lawmaker-name {
  @extend %font-base;
  display: inline-block;
  font-family: $montserrat;
  margin: 0 0 .5em;
  text-transform: uppercase;
  max-width: 80%;
  z-index: 2;

  @include media($lawmaker-bp-md) {
    display: block;
    font-size: .85em;
    margin: 0 0 .5em;
  }

  @include media($lawmaker-bp-lg) {
    @extend %font-m;
    display: block;
    margin: 0 0 .5em;
  }

}

.lawmaker-video-wrapper {
  @include clearfix();
  margin: 0 0 1em;

  .video-controls-button {
    background-color: $white;
    color: $gg-black;
  }
}