.masthead {
  @include clearfix();
  background-color: $tribune-black;
  padding: .5em 1em;

  img {
    width: inherit;
  }

  .logo-left {
    cursor: pointer;
    float: left;
    img { height: 1em; }
  }

  .logo-right {
    cursor: pointer;
    float: right;
    img { 
      height: .6em;
      margin-bottom: .1em;
    }
  }

}