$menu-desktop-sm: new-breakpoint(min-width 550px);
$menu-desktop-lg: new-breakpoint(min-width 800px);
$menu-desktop-xlg: new-breakpoint(min-width 1080px);

%bg-cover-menu {
  background-position: 50% 50%; 
  background-size: cover;
  width: 100%;
  z-index: 1;
}

.menu {
  @include font-size($s, 1.1);
  background-color: $tribune-black;
  bottom: 0;
  color: $white;
  font-family: $montserrat;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  z-index: 1000;

  li {
    position: relative;
  }

  a {
    color: $white;

    &:hover {
      color: $gg-red;
      text-decoration: none;

      p {
        color: $gg-red;

        @include media($menu-desktop-sm) {
          color: $white;
        }
      }

      span {
        color: $gg-red;
      }
    }
  }

  .bg-hover-layer {
    display: none;

    @include media($menu-desktop-sm) {
      background-color: transparent;
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;

      &:hover {
        background-color: transparentize($gg-black, .5);
      }
    }
  }
}

.extra-footage {
  background-color: transparentize($gg-red, .2);
  display: none;
  padding: .5em 1.5em;
  text-align: center;

  p { 
    @extend %font-xs;
    color: $white;
    font-family: $montserrat;
    margin: 0;
    text-transform: uppercase;
  }

  span {
    font-size: .8em;
    padding: 0 3em;
  }
}

.menu-bar {
  height: 2em;
  width: 100%;

  @include media($menu-desktop-sm) {
    padding: 0 2em 0 1.5em;
  }
}

.menu-bar-left,
.menu-bar-right {
  padding: .75em .35em 1em;
}

.menu-bar-left {
  float: left;
}

.menu-bar-right {
  float: right;
}

.menu-block {

  @include media($menu-desktop-sm) {
    @include span-columns(4 of 20);
    @include omega(5n);
    // float: left;
    // margin-right: 1%;
    // width: 19%;

    &:last-child {
      margin-right: 0;
    }

    p {
      bottom: 1em;
      left: 0;
      position: absolute;
      right: 0;
    }

    
    @each $vid in $vid-list {
      .bg-#{$vid} {
        @extend %bg-cover-menu;
        background-image: url('{{ PATH_PREFIX }}assets/images/#{$vid}-sm.jpg');
      }

      &:hover {
        .bg-#{$vid} {
          background: 
            linear-gradient(
              transparentize($gg-black, .6), 
              transparentize($gg-black, .6)
            ),
            url('{{ PATH_PREFIX }}assets/images/#{$vid}-sm.jpg');
          background-size: cover;
          background-position: 50% 50%;       
        }
      }
    }

    .active {
      border: 3px solid $gg-red;
      box-sizing: border-box;
    }
  }
}

.menu-chapters-btn {
  .icon-TT-god_chapters {
    color: $white;
    
    @include media($menu-desktop-sm) {
      padding: 0 10px 0 0;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.menu-chapters {
  @include clearfix();
  display: none;
  // overflow: scroll;
  padding: 0 .35em 1em;
  // margin: 0 1% .35em 0;
  width: 100%;
  
  @include media($menu-desktop-sm) {
    padding: 0 2em 0 1.5em;
  }

  .active {
    border: 3px solid $gg-red;
    box-sizing: border-box;
  }
  
  .menu-chapter {
    margin: 0 0 .35em;
    padding: .75em .25em;
    text-align: center;

    @include media($menu-desktop-sm) {
      margin: 0;
    }

    p {
      @include font-size($s, 1.1);
      font-family: $montserrat;
      margin: 0;
    }
  }

  .menu-video-chapter {
    background-color: $background-gray;
    color: $tribune-black;

    @include media($menu-desktop-sm) {
      color: $white;
      height: 6em;
    }

    @include media($menu-desktop-lg) {
      color: $white;
      height: 8em;
    }

    @include media($menu-desktop-xlg) {
      color: $white;
      height: 12em;
    }
  }

  .menu-extra-chapter {
    background-color: $tribune-black;
    border: 1px solid $background-gray;
    color: $white;

    &.active {
      border: 1px solid $gg-red;
    }
  }

}

.menu-extra {
  @include media($menu-desktop-sm) {
    display: none;
  }
}

.menu-extra-links {
  display: none;
  
  @include media($menu-desktop-sm) {
    display: block;
    float: right;
  }
}

.menu-icon {
  color: $white;
  padding: 0 10px;
}

.menu-icon-share {
  padding: 0 24px;

  @include media($menu-desktop-sm) {
    padding: 0 14px;
  }
}
