.extra-footage {
  background-color: $gg-black;
  padding: .5em 1.5em;
  text-align: center;

  p { 
    @extend %font-base;
    color: $white;
    font-family: $montserrat;
    margin: 0;
    text-transform: uppercase;
  }

  span {
    font-size: .8em;
    padding: 0 3em;
  }
}