.video-wrapper {
  background-color: $tribune-black;
  position: relative;
}

.video {
  height: 100%;
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.video-controls {
  background-color: $tribune-black;
  padding: 1em;
  position: absolute;
  top: 100%;
  width: 100%;
}

.video-controls-left,
.video-controls-right {
  display: inline-block;
  position: relative;
  width: 20%;
}

.video-controls-left {
  float: left;
}

.video-controls-right {
  float: right;
}

.progress-bar-wrapper {
  display: inline-block;
  padding: 0 1em 1.5em;
  position: relative;
  width: 50%;
}

.progress-bar {
  background-color: $white;
  height: 1px;
  position: absolute;
  width: 100%;
}

.progress {
  width: 0%;
  background-color: $gg-red;
  height: 6px;  
  position: absolute;
}