{% extends "_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
{% import 'includes/_macros.html' as macro %}
<section id="main" class="main">
  <div class="gg-page-cover-wrapper">
    <div class="gg-page-cover-img"></div>
    <header class="gg-page-cover-title">
      <h1 class="gg-page-title">About</h1>
    </header>
  </div>
  <div class="gg-prose-wrapper">
    <div class="gg-prose">
      <div class="gg-prose-block">
        <p>{{ COPY.About_Text|safe }}</p>
      </div>
      <div class="gg-prose-block">
        <header>
          <h1>Enjoy this series?</h1>
        </header>
        <p>Learn more about how you can <a id="#support" href="http://support.texastribune.org/">support</a> investigative coverage in Texas.</p>
      </div>
      <div class="gg-prose-block inline">
        <header>
          <h1>Editorial</h1>
        </header>
        <ul class="carat">
          <li><a href="http://www.texastribune.org/about/staff/justin-dehn/" target="_blank">Justin Dehn</a></li>
          <li>Natalie Choate</li>
          <li><a href="http://www.texastribune.org/about/staff/david-pasztor/" target="_blank">David Pasztor</a></li>
          <li><a href="http://www.texastribune.org/about/staff/rocha-alana/" target="_blank">Alana Rocha</a></li>
          <li><a href="http://www.texastribune.org/about/staff/twiseman/" target="_blank">Todd Wiseman</a></li>
        </ul>
      </div>
      <div class="gg-prose-block inline">
        <header>
          <h1>Design</h1>
        </header>
        <ul class="carat">
          <li><a href="http://www.texastribune.org/about/staff/becca-aaronson/" target="_blank">Becca Aaronson</a></li>
          <li><a href="http://www.texastribune.org/about/staff/emily-albracht/" target="_blank">Emily Albracht</a></li>
        </ul>
      </div>
      <div class="gg-prose-block inline">
        <header>
          <h1>Photography</h1>
        </header>
        <ul class="carat">
          <li>Ryan Booth</li>
          <li>Charlie Pearce</li>
          <li>Gabriel Crist&#243;ver P&#233;rez</li>
        </ul>
      </div>
      <div class="gg-prose-block">
        <header>
          <h1>Music</h1>
        </header>
        <ul class="carat">
          <li>“Biology Slides” by Bleak House</li>
          <li>“Cylinder Five” by Chris Zabriskie</li>
          <li>“Led by the Dress Colored in Red” by Augustus Bro &amp; Gallery Six</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{ macro.menu(PATH_PREFIX, 'about') }}

{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
