.gg-prose-wrapper {
  background-color: $white;
  position: absolute;
  margin: 0 0 3em;
  width: 100%;
}

.gg-prose {
  margin: 0 auto;
  max-width: 900px;
  padding: 1em 1.5em 2em;
  width: 100%;

  @include media($default-desktop) {
    width: 75%;
  }

  a {
    color: $gg-red;

    &:hover {
      color: $gg-red;
      text-decoration: underline;
    }
  }

  p {
    @extend %font-base;
    font-family: $bookmania;
    line-height: 1.4;
    margin: 0 0 1em;
  }

  h1 {
    @extend %font-l;
    font-family: $montserrat;
    line-height: 1.3;
    margin: 0 0 .5em;
    text-transform: uppercase;
  }

}

.gg-page-title {
  @extend %font-xl;
  color: $white;
  font-family: $montserrat;
  line-height: 1.3;
  margin: 52px 0;
  text-transform: uppercase;  
}

.gg-prose-block {
  margin-bottom: 2em;
}