$vid-list: overview guns edu marriage life;

%bg-cover {
  background-position: no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  width: 100%;
  z-index: 1;
}

$lawmaker-bp-sm: new-breakpoint(min-width 410px);
$lawmaker-bp-md: new-breakpoint(min-width 835px);
$lawmaker-bp-lg: new-breakpoint(min-width 960px);

/*COLORS:*/
$gg-red: rgb(241, 82, 73); // #f15249
$gg-maroon: rgb(112, 56, 66); // #703842 
$gg-black: rgb(41, 41, 41); 

.ghost-button-red {
  @include clearfix;
  background-color: transparentize($gg-red, .2);
  border: none;
  border-radius: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $montserrat;
  font-size: 1.2em;
  letter-spacing: .2rem;
  margin: 2em 0;
  padding: .4em 1.4em .5em;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;

  &:active,
  &:hover {
    background-color: $gg-red;
    border: none;
    color: $white;
  }

  &:focus {
    outline: none;
  }
}