%bg-cover {
  background-position: no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  width: 100%;
  z-index: 1;
}

/*COLORS:*/
$gg-red: rgb(241, 82, 73); // #f15249
$gg-maroon: rgb(112, 56, 66); // #703842 
$gg-black: rgb(33, 33, 33); // #212121