{% extends "_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}

<section class="main">
  <div id="video-cover-wrapper" class="video-cover-wrapper">
    <div class="video-cover-img"></div>
    <figure class="video-cover-logo">
      <img src="{{ PATH_PREFIX }}assets/images/logos/TT-god_logo-stack.svg">
      <button id="start-video" class="video-cover-btn ghost-button-red">Play</button>
    </figure>   
  </div>
  <div class="video-wrapper">
    <video id="video" class="video" poster="http://placehold.it/500x350">
      <source src='http://techslides.com/demos/sample-videos/small.webm' type='video/webm'>
      <source src='http://techslides.com/demos/sample-videos/small.mp4' type='video/mp4;'>
    </video>

    <!-- Video Controls -->
    <div id="video-controls" class="video-controls">
      <div class="video-controls-left">
        <button type="button" id="play-pause"><span class="icon-TT-god_play"></span><span class="icon-TT-god_pause" style="display: none;"></span></button>
      </div>
      <div class="video-controls-middle">
        <div class="progress-bar-wrapper">
          <div class="progress-bar"></div>
          <div id="video-progress" class="progress"></div>
        </div>
      </div>
      <div class="video-controls-right">
        <button type="button" id="full-screen"><span class="icon-TT-god_full-screen"></span></button>
      </div>
    </div>
  </div>

</section>

<nav class="menu">
  <div id="menu-bar" class="menu-bar">
    <div id="menu-chapters-btn" class="menu-bar-left menu-chapters-btn">
      <span class="menu-icon icon-TT-god_chapters"></span>
      <span>Chapters</span>
    </div>
    <div class="menu-bar-right">
      <a href=""><span class="menu-icon menu-icon-share icon-TT-god_twitter"></span></a>
      <a href=""><span class="menu-icon menu-icon-share icon-TT-god_facebook"></span></a>
      <div class="menu-extra-links">
        <span class="icon-TT-god_dash menu-icon"></span>
        <a href=""><span class="menu-icon">Lawmakers</span></a>
        <a href=""><span class="menu-icon">About</span></a>
      </div>
    </div>
  </div>
  <ul id="menu-chapters" class="menu-chapters">
    <a href="" class="menu-block">
      <li class="menu-chapter menu-video-chapter bg-guns">
        <div class="bg-hover-layer"></div>
        <p>Guns</p>
      </li>
    </a>
    <a href="" class="menu-block">
      <li class="menu-chapter menu-video-chapter bg-marriage">
        <div class="bg-hover-layer"></div>
        <p>Marriage</p>
      </li>
    </a>
    <a href="" class="menu-block">
      <li class="menu-chapter menu-video-chapter bg-education">
        <div class="bg-hover-layer"></div>
        <p>Education</p>
      </li>
    </a>
    <a href="" class="menu-block">
      <li class="menu-chapter menu-video-chapter bg-life">
        <div class="bg-hover-layer"></div>
        <p>Life</p>
      </li>
    </a>
    <a href="" class="menu-extra">
      <li class="menu-chapter menu-extra-chapter">
        <p>Lawmakers</p>
      </li>
      </a>
    <a href="" class="menu-extra">
      <li class="menu-chapter menu-extra-chapter">
        <p>About</p>
      </li>
    </a>
  </ul>
</nav>

{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
