{% extends "_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
{% import 'includes/_macros.html' as macro %}

<section id="main" class="main">
  <div id="video-cover-wrapper" class="video-cover-wrapper">
    <div class="video-cover-img"></div>
    <figure class="video-cover-logo">
      <img src="{{ PATH_PREFIX }}assets/images/logos/TT-god_logo-stack.svg">
      <button id="start-video" class="video-cover-btn ghost-button-red">Play</button>
    </figure>   
  </div>
  <div class="video-wrapper">
    <div class="video-frame">
      <iframe id="player1" src="https://player.vimeo.com/video/57153098?api=1&player_id=player1" width="630" height="354" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="extra-footage">
    <p><span class="icon-TT-god_scroll"></span>Extra Footage<span class="icon-TT-god_scroll"></span></p>
  </div>
<!--   <div>
    <button id="play"><span class="icon-TT-god_play"></span></button>
    <button id="pause"><span class="icon-TT-god_pause"></span></button>
    <p>Status: <span class="status">&hellip;</span></p>
  </div> -->
<!--     <video id="video" class="video" poster="http://placehold.it/500x350">
      <source src='http://techslides.com/demos/sample-videos/small.webm' type='video/webm'>
      <source src='http://techslides.com/demos/sample-videos/small.mp4' type='video/mp4;'>
    </video> -->

    <!-- Video Controls -->
<!--     <div id="video-controls" class="video-controls">
      <div class="video-controls-left">
        <button type="button" id="play-pause"><span class="icon-TT-god_play"></span><span class="icon-TT-god_pause" style="display: none;"></span></button>
      </div>
      <div class="video-controls-middle">
        <input type="range" id="seek-bar" value="0">
        <div class="progress-bar-wrapper">
        </div>
      </div>
      <div class="video-controls-right">
        <button type="button" id="full-screen"><span class="icon-TT-god_full-screen"></span></button>
      </div>
    </div>
  </div> -->

</section>
 
{{ macro.menu(PATH_PREFIX, 'overview') }}
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
