{% extends "_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}

<section class="main">
  <p>Placeholder for Video</p>
</section>

<nav class="menu">
  <div class="menu-bar">
    <div class="menu-bar-left menu-chapters-btn">
      <figure class="menu-icon">
        <img src="http://placehold.it/50x50">
      </figure>
      <span>Chapters</span>
    </div>
    <div class="menu-bar-right">
      <figure class="menu-icon menu-icon-right">
        <img src="http://placehold.it/50x50">
      </figure>
      <figure class="menu-icon menu-icon-right">
        <img src="http://placehold.it/50x50">
      </figure>
      <div class="menu-extra-links">
        <a href=""><span>Lawmakers</span></a>
        <a href=""><span class="about-link">About</span></a>
      </div>
    </div>
  </div>
  <ul class="menu-chapters">
    <a href="" class="menu-block">
      <li class="menu-chapter video-chapter bg-guns">
        <div class="bg-hover-layer"></div>
        <p>Guns</p>
      </li>
    </a>
    <a href="" class="menu-block">
      <li class="menu-chapter video-chapter bg-marriage">
        <div class="bg-hover-layer"></div>
        <p>Marriage</p>
      </li>
    </a>
    <a href="" class="menu-block">
      <li class="menu-chapter video-chapter bg-education">
        <div class="bg-hover-layer"></div>
        <p>Education</p>
      </li>
    </a>
    <a href="" class="menu-block">
      <li class="menu-chapter video-chapter bg-life">
        <div class="bg-hover-layer"></div>
        <p>Life</p>
      </li>
    </a>
    <a href="" class="menu-extra">
      <li class="menu-chapter extra-chapter">
        <p>Lawmakers</p>
      </li>
      </a>
    <a href="" class="menu-extra">
      <li class="menu-chapter extra-chapter">
        <p>About</p>
      </li>
    </a>
  </ul>
</nav>

{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
