{% extends "_base.html" %}
{% import 'includes/_macros.html' as macro %}

{% block meta %}
  {{ macro.meta() }}
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
<section id="main" class="main">
  <div id="video-cover-wrapper" class="video-cover-wrapper">
    <div class="video-cover-img video-cover-img-marriage"></div>
    <figure class="video-cover-logo">
      <img src="{{ PATH_PREFIX }}assets/images/logos/TT-god_logo-stack.svg">
      <h1>Marriage</h1>
      <button id="start-video" class="video-cover-btn ghost-button-red">Play</button>
    </figure>   
  </div>
  <div class="video-wrapper video-wrapper-marriage">
    <div class="video-frame">
      <iframe id="player1" src="http://player.vimeo.com/video/{{ VIDEO_IDS.Marriage }}?api=1&player_id=player1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen height="720px" width="1280px"></iframe>
    </div>
  </div>
  <div id="lawmakers-related" class="gg-prose-wrapper lawmakers-related">
    <div class="gg-prose">
      <header class="gg-prose-header">
        <h2>Related Interviews</h2>
      </header>
      <p>{{ COPY.Related_Text }}</p>
      <ul id="lawmaker-list" class="lawmaker-list lawmaker-list-wide">
        {% for x in L %}
          {% if x.SECTION == 'MARRIAGE' %}
          <a href="{{ x.VIMEO }}">
            <li id="{{ x.ID }}" class="lawmaker-info-box">
              <div class="lawmaker-hover-layer lawmaker-layer-{{ x.ID }}">
                <span class="icon-TT-god_play"></span>
              </div>
              <div class="lawmaker-info lawmaker-info-wide">
                <div class="lawmaker-quote">
                  <p class="small">"{{ x.QUOTE }}"</p>
                </div>
                {% if x.ID == 'nevarez' %}
                <h2 class="lawmaker-name lawmaker-name-sm">{{ x.TITLE }} {{ x.NAME }}</h2>
                {% else %}
                <h2 class="lawmaker-name">{{ x.TITLE }} {{ x.NAME }}</h2>
                {% endif %}
              </div>
            </li>
          </a>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
 
{{ macro.menu(PATH_PREFIX, 'marriage', 'related') }}
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
