{% macro menu(path_prefix, active) %}
<nav class="menu">
  <div id="menu-bar" class="menu-bar">
    <div id="menu-chapters-btn" class="menu-bar-left menu-chapters-btn">
      <span class="menu-icon icon-TT-god_chapters"></span>
      <span>Chapters</span>
    </div>
    <div class="menu-bar-right">
      <a href=""><span class="menu-icon menu-icon-share icon-TT-god_twitter"></span></a>
      <a href=""><span class="menu-icon menu-icon-share icon-TT-god_facebook"></span></a>
      <div class="menu-extra-links">
        <span class="icon-TT-god_dash menu-icon"></span>
        <a href="{{ path_prefix }}lawmakers"><span class="menu-icon">Lawmakers</span></a>
        <a href="{{ path_prefix }}about"><span class="menu-icon">About</span></a>
      </div>
    </div>
  </div>
  <ul id="menu-chapters" class="menu-chapters">
    <a href="/" class="menu-block">
      {% if active == 'overview' %}
      <li class="menu-chapter menu-video-chapter bg-overview active">
      {% else %}
      <li class="menu-chapter menu-video-chapter bg-overview">
      {% endif %}
        <div class="bg-hover-layer"></div>
        <p>Overview</p>
      </li>
    </a>
    <a href="{{ path_prefix }}guns" class="menu-block">
      {% if active == 'guns' %}
      <li class="menu-chapter menu-video-chapter bg-guns active">
      {% else %}
      <li class="menu-chapter menu-video-chapter bg-guns">
      {% endif %}
        <div class="bg-hover-layer"></div>
        <p>Guns</p>
      </li>
    </a>
    <a href="{{ path_prefix }}marriage" class="menu-block">
      {% if active == 'marriage' %}
      <li class="menu-chapter menu-video-chapter bg-marriage active">
      {% else %}
      <li class="menu-chapter menu-video-chapter bg-marriage">
      {% endif %}
        <div class="bg-hover-layer"></div>
        <p>Marriage</p>
      </li>
    </a>
    <a href="{{ path_prefix }}education" class="menu-block">
      {% if active == 'education' %}
      <li class="menu-chapter menu-video-chapter bg-education active">
      {% else %}
      <li class="menu-chapter menu-video-chapter bg-education">
      {% endif %}
      <div class="bg-hover-layer"></div>
        <p>Education</p>
      </li>
    </a>
    <a href="{{ path_prefix }}life" class="menu-block">
      {% if active == 'life' %}
      <li class="menu-chapter menu-video-chapter bg-life active">
      {% else %}
      <li class="menu-chapter menu-video-chapter bg-life">
      {% endif %}
        <div class="bg-hover-layer"></div>
        <p>Life</p>
      </li>
    </a>
    <a href="{{ path_prefix }}lawmakers" class="menu-extra">
      <li class="menu-chapter menu-extra-chapter">
        <p>Lawmakers</p>
      </li>
      </a>
    <a href="{{ path_prefix }}about" class="menu-extra">
      <li class="menu-chapter menu-extra-chapter">
        <p>About</p>
      </li>
    </a>
  </ul>
</nav>
{% endmacro %}