{% macro meta(data, page) %}
  <link rel="icon" href="http://apps.texastribune.org.s3.amazonaws.com/favicon.ico">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@texastribune">
  <meta name="twitter:creator" content="@texastribune">
  <meta property="og:url" content="http://apps.texastribune.org/god-and-governing/{{ page }}">
  <meta property="og:title" content="God and Governing | The Texas Tribune">
  {% if page == 'lawmakers' %}
  <meta property="og:description" content="{{ data.Lawmakers_FB|safe }}">
  {% elif page == 'guns' %}
  <meta property="og:description" content="{{ data.Guns_FB|safe }}">
  {% elif page == 'life' %}
  <meta property="og:description" content="{{ data.Life_FB|safe }}">
  {% elif page == 'marriage' %}
  <meta property="og:description" content="{{ data.Marriage_FB|safe }}">
  {% elif page == 'education' %}
  <meta property="og:description" content="{{ data.Edu_FB|safe }}">
  {% else %}
  <meta property="og:description" content="{{ data.Overview_FB|safe }}">
  {% endif %}
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:image" content="http://apps.texastribune.org/god-and-governing/assets/images/TT-god-fb-graphic.png">
  <meta property="fb:app_id" content="154122474650943">
{% endmacro %}

{% macro menu(path_prefix, data, active, related) %}
<nav class="menu">
  {% if related == 'related' %}
  <div id="extra-footage" class="extra-footage">
    <p><span class="icon-TT-god_scroll"></span>Scroll to Watch Related Interviews<span class="icon-TT-god_scroll"></span></p>
  </div>
  {% endif %}
  <div id="menu-bar" class="menu-bar">
    <div id="menu-chapters-btn" class="menu-bar-left menu-chapters-btn">
      <span class="menu-icon icon-TT-god_chapters"></span>
      <span>Select A Chapter</span>
    </div>
    <div class="menu-bar-right">
      {% if active == 'lawmakers' %}
      <a id="twitter-share" href="https://twitter.com/intent/tweet?text={{ data.Lawmakers_TW | urlencode }}" title="share on Twitter" class="social-share" target="_blank"><span class="menu-icon menu-icon-share icon-TT-god_twitter"></span></a>
      {% elif active == 'guns' %}
      <a id="twitter-share" href="https://twitter.com/intent/tweet?text={{ data.Guns_TW | urlencode }}" title="share on Twitter" class="social-share" target="_blank"><span class="menu-icon menu-icon-share icon-TT-god_twitter"></span></a>
      {% elif active == 'life' %}
      <a id="twitter-share" href="https://twitter.com/intent/tweet?text={{ data.Life_TW | urlencode }}" title="share on Twitter" class="social-share" target="_blank"><span class="menu-icon menu-icon-share icon-TT-god_twitter"></span></a>
      {% elif active == 'marriage' %}
      <a id="twitter-share" href="https://twitter.com/intent/tweet?text={{ data.Marriage_TW | urlencode }}" title="share on Twitter" class="social-share" target="_blank"><span class="menu-icon menu-icon-share icon-TT-god_twitter"></span></a>
      {% elif active == 'education' %}
      <a id="twitter-share" href="https://twitter.com/intent/tweet?text={{ data.Edu_TW | urlencode }}" title="share on Twitter" class="social-share" target="_blank"><span class="menu-icon menu-icon-share icon-TT-god_twitter"></span></a>
      {% else %}
      <a id="twitter-share" href="https://twitter.com/intent/tweet?text={{ data.Overview_TW | urlencode }}" title="share on Twitter" class="social-share" target="_blank"><span class="menu-icon menu-icon-share icon-TT-god_twitter"></span></a>
      {% endif %}
      {% if active == 'overview' %}
      <a id="fb-share" class="share"  href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fgod-and-governing%2F&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fgod-and-governing%2F" target="_blank">
      <span class="menu-icon menu-icon-share icon-TT-god_facebook"></span></a>
      {% else %}
      <a id="fb-share" class="share"  href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fgod-and-governing%2F{{ active }}%2F&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fgod-and-governing%2F{{ active }}%2F" target="_blank">
      <span class="menu-icon menu-icon-share icon-TT-god_facebook"></span></a>
      {% endif %}
      <div class="menu-extra-links">
        <span class="icon-TT-god_dash menu-icon"></span>
        <a href="{{ path_prefix }}lawmakers"><span class="menu-icon">Lawmakers</span></a>
        <a href="{{ path_prefix }}about"><span class="menu-icon">About</span></a>
      </div>
    </div>
  </div>
  <ul id="menu-chapters" class="menu-chapters">
    <a href="{{ path_prefix }}?utm_source=gg-menu" class="menu-block">
      {% if active == 'overview' %}
      <li class="menu-chapter menu-video-chapter bg-overview active">
      {% else %}
      <li class="menu-chapter menu-video-chapter bg-overview">
      {% endif %}
      <p>Overview</p>
      </li>
    </a>
    <a href="{{ path_prefix }}guns?utm_source=gg-menu" class="menu-block">
      {% if active == 'guns' %}
      <li class="menu-chapter menu-video-chapter bg-guns active">
      {% else %}
      <li class="menu-chapter menu-video-chapter bg-guns">
      {% endif %}
        <p>Guns</p>
      </li>
    </a>
    <a href="{{ path_prefix }}life?utm_source=gg-menu" class="menu-block">
      {% if active == 'life' %}
      <li class="menu-chapter menu-video-chapter bg-life active">
      {% else %}
      <li class="menu-chapter menu-video-chapter bg-life">
      {% endif %}
        <p>Life</p>
      </li>
    </a>
    <a href="{{ path_prefix }}marriage?utm_source=gg-menu" class="menu-block">
      {% if active == 'marriage' %}
      <li class="menu-chapter menu-video-chapter bg-marriage active">
      {% else %}
      <li class="menu-chapter menu-video-chapter bg-marriage">
      {% endif %}
        <p>Marriage</p>
      </li>
    </a>
    <a href="{{ path_prefix }}education?utm_source=gg-menu" class="menu-block">
      {% if active == 'education' %}
      <li class="menu-chapter menu-video-chapter bg-edu active">
      {% else %}
      <li class="menu-chapter menu-video-chapter bg-edu">
      {% endif %}
        <p>Education</p>
      </li>
    </a>
    <a href="{{ path_prefix }}lawmakers?utm_source=gg-menu" class="menu-extra">
      {% if active == 'lawmakers' %}
      <li class="menu-chapter menu-extra-chapter active">
      {% else %}
      <li class="menu-chapter menu-extra-chapter">
      {% endif %}
        <p>Lawmakers</p>
      </li>
      </a>
    <a href="{{ path_prefix }}about?utm_source=gg-menu" class="menu-extra">
      {% if active == 'about' %}
      <li class="menu-chapter menu-extra-chapter active">
      {% else %}
      <li class="menu-chapter menu-extra-chapter">
      {% endif %}
        <p>About</p>
      </li>
    </a>
  </ul>
</nav>
{% endmacro %}