{% extends "_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
{% import 'includes/_macros.html' as macro %}
<section id="main" class="main">
  <div class="gg-page-cover-wrapper">
    <div class="gg-page-cover-img"></div>
    <header class="gg-page-cover-title">
      <h1 class="gg-page-title">Lawmakers</h1>
    </header>
  </div>
  <div class="gg-prose-wrapper">
    <div class="gg-prose">
    <div class="lawmaker-video-wrapper">
      <video id="video" class="video" poster="http://placehold.it/500x350">
        <source src='http://techslides.com/demos/sample-videos/small.webm' type='video/webm'>
        <source src='http://techslides.com/demos/sample-videos/small.mp4' type='video/mp4;'>
      </video>

      <!-- Video Controls -->
      <div id="video-controls" class="video-controls">
        <div class="video-controls-left">
          <button type="button" id="play-pause"><span class="icon-TT-god_play"></span><span class="icon-TT-god_pause" style="display: none;"></span></button>
        </div>
        <div class="video-controls-middle">
          <input type="range" id="seek-bar" value="0">
          <div class="progress-bar-wrapper">
          </div>
        </div>
        <div class="video-controls-right">
          <button type="button" id="full-screen"><span class="icon-TT-god_full-screen"></span></button>
        </div>
      </div>
    </div>
      <div class="gg-prose-block">
        <p>Duis vel nibh at velit scelerisque suscipit. Nullam sagittis. Nullam dictum felis eu pede mollis pretium. In hac habitasse platea dictumst. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Praesent ut ligula non mi varius sagittis. Praesent turpis.</p>
      </div>
      <ul class="lawmaker-list">
        {% for x in L %}
          <li>
            <div class="lawmaker-hover-layer"></div>
            <h2 class="lawmaker-name">{{ x.NAME }}</h2>
            <div class="lawmaker-info">
              <p>{{ x.TITLE}}, {{ x.PARTY }}{% if x.LOCATION %}-{{ x.LOCATION }}{% endif %}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{{ macro.menu() }}

{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
