{% extends "_base-lawmakers.html" %}
{% import 'includes/_macros.html' as macro %}

{% block meta %}
  {{ macro.meta('Lawmakers') }}
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
<section id="main" class="main">
  <div class="gg-page-cover-wrapper">
    <div class="gg-page-cover-img"></div>
    <header class="gg-page-cover-title">
      <h1 class="gg-page-title">Lawmakers</h1>
    </header>
  </div>
  <div class="gg-prose-wrapper">
    <div class="gg-prose">
      <div class="gg-prose-block">
        <p>The Texas Tribune interviewed 23 lawmakers with various religious and political backgrounds from across the state for this series. Watch additional clips from those interviews below.</p>
      </div>
      <ul id="lawmaker-list" class="lawmaker-list">
        {% for x in L %}
          <a href="{{ x.VIMEO }}">
            <li id="{{ x.ID }}" class="lawmaker-info-box">
              <div class="lawmaker-hover-layer lawmaker-layer-{{ x.ID }}">
                <span class="icon-TT-god_play"></span>
              </div>
              <h2 class="lawmaker-name">{{ x.NAME }}</h2>
              <div class="lawmaker-info">
                <p>{{ x.TITLE }}, {{ x.PARTY }}{% if x.LOCATION %}-{{ x.LOCATION }}{% endif %}</p>
                <p class="lawmaker-faith">{{ x.FAITH }}</p>
              </div>
            </li>
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{{ macro.menu(PATH_PREFIX, 'lawmakers') }}

{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
