<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>God &amp; Governing | The Texas Tribune</title>
  {% block meta %}{% endblock %}
  <script src="https://use.typekit.net/baa7muu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  {% block styles %}
  <link rel="stylesheet" href="{{ PATH_PREFIX }}styles/main.css">
  {% endblock %}
  {% block parsely %}{% endblock %}
</head>
<body>
{% include 'includes/_masthead.html' %}
{% block content %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{% block script %}
<script src="{{ PATH_PREFIX }}scripts/vendor/magnifique.js"></script>
<script src="{{ PATH_PREFIX }}scripts/lawmakers.js"></script>
{% endblock %}
{% include 'includes/_google_analytics.html' %}
<!-- START Parse.ly Include: Standard -->
<div id="parsely-root" style="display: none">
  <span id="parsely-cfg" data-parsely-site="texastribune.org"></span>
</div>
<script>
(function(s, p, d) {
  var h=d.location.protocol, i=p+"-"+s,
      e=d.getElementById(i), r=d.getElementById(p+"-root"),
      u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
      :"static."+p+".com";
  if (e) return;
  e = d.createElement(s); e.id = i; e.async = true;
  e.src = h+"//"+u+"/p.js"; r.appendChild(e);
})("script", "parsely", document);
</script>
<!-- END Parse.ly Include: Standard -->
</body>
</html>
